*{
  box-sizing: border-box;
}

.Comment-item {
  font-size: 16px;
  font weight: 500px;
  font-family: monospace;
  padding: 8px;
  color: navy;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Comment-item  p {
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  color: #ffd699;
  border: 4.8px solid #ffd699;
  background-color: navy;
}
.Comment-item  span {
  color: #d9b3ff;
  font-weight: 900;
}
.Comment-group {
  margin-top: 5px;
}
.Comment-group_button {
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffd699;
  color: navy;
  font-size: 16px;
  font-weight: normal;
  font-family: monospace;
  margin: 5px;
}
